<h1>About Page</h1>
<h3>A Little Bit About Us</h3>
<%= link_to 'Articles listing', articles_path%> | 
<%= link_to 'Home', root_path %>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas libero minus nostrum temporibus aliquam, quisquam nisi repellendus non praesentium repellat veniam natus eveniet architecto cumque ea iste odit rem aliquid? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, tempore vero. Harum, itaque, accusantium nesciunt facilis enim voluptatibus fugit consequatur excepturi reprehenderit quas sapiente praesentium! Necessitatibus unde animi cupiditate aut. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum natus alias cumque unde ea hic nulla sapiente pariatur sit maiores asperiores odit quaerat consequuntur sed doloribus voluptates, aspernatur adipisci nobis.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo autem deleniti suscipit ipsa distinctio impedit. Tenetur asperiores consequatur necessitatibus provident pariatur soluta quos, nisi modi totam alias, ducimus recusandae sed. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt iusto deleniti quo eius deserunt earum, numquam magni quis necessitatibus, ipsum ab tenetur dolore quas nobis at facere qui sapiente voluptatem. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus delectus explicabo animi fugit! Nobis rem expedita repudiandae debitis? Maiores nisi laboriosam iure nemo dolorem nesciunt numquam at rerum ipsa dignissimos.</p>
