<h1>Home Page</h1>
<h3>This is the Home Page</h3>
<%= link_to 'Articles listing', articles_path%> | 
<%= link_to 'About Us', about_path %>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut cum explicabo dolore. Doloribus accusantium architecto ullam voluptatum quos harum totam, hic porro optio excepturi provident rem temporibus dignissimos cumque quas!</p>
